html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
.clickable-word {
    cursor:pointer;
    color:brown
}



.story{
  display: inline;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .03em; /* Adjust as needed */
  vertical-align: text-bottom;

}
.new-text {
  display: inline;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  vertical-align: bottom;
  animation: 
    typing 0.7s steps(40, end)
}

.substituted-text {
  display: inline;
  pointer-events: none;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  vertical-align: bottom;
  max-width: 0;
  animation: 
    deleting 0.5s steps(40, end)
}

.substituting-text {
  display: inline;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  vertical-align: bottom;
  -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 0.5s;
  animation: 
    typing 0.7s steps(40, end)
}

.old-text {
  display: inline;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  vertical-align: bottom;
}

/* The typing effect */
@keyframes typing {
  from { -webkit-clip-path:  inset(0% 100% 0% 0%);
    clip-path:  inset(0% 100% 0% 0%); }
  to { -webkit-clip-path:  inset(0% 0% 0% 0%);
    clip-path:  inset(0% 0% 0% 0%);}
}

/* The deleting effect */
@keyframes deleting {
  from { max-width: 100% }
  to { max-width: 0% }
}


/* For editting */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.flash-dark {
    animation: 
       flashDark 1.0s steps(40, end)
}

@keyframes flashDark {
  from { background: #000 }
  to { background: ##fff }
}

.flash-red {
    animation: 
       flashRed 1.0s steps(40, end);
    background: #000;
}

@keyframes flashRed {
  from { background: #8A0707 }
  to { background: #000 }
}

#text-background{
    /*
  height:100%;
  width:100%;
  max-width:inherit;
  max-height:inherit;
  position: absolute;*/
}